* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 100px;
  align-items: center;
}

.evian {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  display: flex;
  padding: 20px;
  color: rgb(138, 47, 47); 
}

.links {
  display: inline;
  padding: 20px;
}

.link_1 {
  display: inline;
  margin: 20px;
  font-size: 30px;
  color: rgb(138, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
}

.link_2 {
  display: inline;
  margin: 20px;
  font-size: 30px;
  color: rgb(138, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
}

.link_3 {
  display: inline;
  margin: 20px;
  font-size: 30px;
  color: rgb(138, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  height: 950px;
  display: flex;
  justify-content: center;
  background-image: url('evian.png');
}

h1 {
  color: #d45d5d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 20px;
}

p {
  color: blue;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  text-align: center;
}

.bottles {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.description {
  width: 1040px;
  height: 300px;
  border: 2px solid #d45d5d;
  border-radius: 25px;
  display: flex;
  margin: auto;
  margin-top: 50px;
}

.text {
  display: flex;
  margin: auto;
  padding: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(138, 47, 47);
}

.image_two {
  width: 280px;
  height: 860px;
  top: 1650px;
  left: 200px;
}

.image_five{
  width: 100px;
  height: 220px;
  margin: auto;
}

.description_two {
  display: flex;
  width: 1040px;
  height: 250px;
  border: 2px solid #d45d5d;
  border-radius: 25px;
  margin: auto;
}

.text_two {
  display: flex;
  margin-left: 70px;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(138, 47, 47);
}

.footer {
  background: rgb(138, 47, 47);
  justify-content: flex-start;
  align-items: center;
}

.text_footer {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 20px;
  margin-top: 20px;
}


}